

#pause { 
    position: absolute;
    bottom: 1%;
    left: 2%;
    width:15%
}


#resume { 
    position: absolute;
    bottom: 1%;
    left: 2%;
    width:15%;
    background-image: url(/assets/img/win_25_75.png);
}

#reset-zoom { 
    position: absolute;
    bottom: 1%;
    left: 6%;
    width:15%
}

#back-animation { 
    position: absolute;
    bottom: 1%;
    left: 8%;
    width:15%
}

#replay { 
    position: absolute;
    bottom: 1%;
    left: 10%;
    width:15%
}

button.annotationButton-replay {
    margin-left: 10px !important;
}
  
.relative {
    position: relative;
}

.h-512 {
    height: 51.2rem;
}

.w-512 {
    width: 53.2rem;
}

#scene {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* #view-state{
    position: fixed;
    top: 6%;
    right: 58%;
    font-size: 14px;
} */


#view-state  {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 14px;
}
#state-in {
    color: #fff;
    float: left;
    padding: 10px;
}
 
#state-init{
    color: #fff;
    float: left;
    padding: 10px;
}


#state-init {
    padding-left: 0;
    padding-right: 0;
}

#state-out{
   color:#fff;
   padding: 11px;
   float: left;
}
/* #device-panel{
    position: fixed;
    left: 0;
    top: 7%;
    min-width: 100px;
    display: none;
    padding: 6px 11px;
    font-family: monospace;
    color: white;
    background: rgba(46,139,87);
    background-color: transparent;
    border: 1px solid black;
    box-shadow: 2px 2px 3px rgba(46,139,87);
    transition: opacity 0.25s linear;
    border-radius: 3px; 
    font-size: 13px;
    background: transparent !important;
    border: 0 !important;
    box-shadow: none;
} */

#device-panel {
    left: 47px;
    top: 10px;
    transition: opacity 0.25s linear;
    border-radius: 3px; 
    position: absolute; 
    min-width: 330px;
    display: none;
    padding: 6px 11px;
    font-family: monospace;
    color: white;
    background: rgba(46,139,87);
    background-color: transparent;    
    font-size: 13px;  
    box-shadow: none; 
}

.manual-close{
    bottom: 10px;
    position: absolute;
    right: 10px;
    font-size: 9px;
    padding: 0px 4px 0px 4px;
}
.manual-toggle{
    bottom: 10px;
    position: absolute;
    right: 41px;
    padding: 0px 4px 0px 4px;  
}
#toggle-on{
    padding: 3px 1px 2px 1px;
}
/* button:focus{background-color:#7A2D89;} */
#cap-label{
    margin-left: 2%;
    font: normal normal bold 14px/16px Arial;
    letter-spacing: 0px;
    color: #3B3B3B;
    width: 100%;
    display: block;
    padding: 10px 8px;
    background-color: #f3f3f3;
}
#toggle-off{
    padding: 3px 1px 2px 1px;

}

#prerequisites {
    position: absolute;
    bottom: 11%;
    left: 1%; 
    font-size: 13px;
}

#tooltip {
    position: fixed;
    font-size: 15px;
    width: 500px;
    left: 0;
    top: 0;
    min-width: 100px;
    min-height: 32px;
    text-align: center;
    padding: 4px 0px;
    font-family: monospace;
    color: white;
    background: rgba(46,139,87);
    display: none;
    opacity: 0;
    border: 1px solid black;
    box-shadow: 2px 2px 3px rgba(46,139,87);
    transition: opacity 0.25s linear;
    border-radius: 3px;
    z-index: 9999;
   /* background-image: url(https://bigsteelant.github.io/personal/static/img/bounceBall.54b1b14.gif);
    background-size: contain; */
  }

.right {
    float: right;
}

.light {
    background-color: #eee;
}



.button-core {
    width: 36px;
    height: 36px;
    display: block;
    overflow: hidden;
    position: static;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
    margin: 4px;
    float: left;
    cursor: pointer;
    outline: none;
    border: 1px solid #000;
    border-radius: 4px;
}

.action-button {
    position: relative;
    display: inline-block;
    
  }
  
  .action-button .action-text {
    visibility: hidden;
    background-color: rgb(21, 112, 44);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1% 5%;
  
    /* Position the tooltip */
    position: absolute;
    bottom: 107%;
    left: unset;
	right: 5px;
    font-size: 12px;
    z-index: 1;
  }

  .action-button .action-text-left{
    visibility: hidden;
    background-color: rgb(21, 112, 44);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1% 5%;
  
    /* Position the tooltip */
    position: absolute;
    bottom: 107%;
    left: unset;
	right: 60px;
    font-size: 12px;
    z-index: 1;
  }
  
  .action-button:hover .action-text {
    visibility: visible;
  }

  .action-button:hover .action-text-left{
    visibility: visible;
  }

.button-win-25-75 {
    background-image: url(/assets/img/win_25_75.png);
}


.button-win-50-50 {
    background-image: url(/assets/img/win_50_50.png);
}

.button-win-75-25 {
    background-image: url(/assets/img/win_75_25.png);
}

#progressBar {
    z-index: 99999;
  
    position: absolute;
    left: 17%;
    top: 36%;
    display: block; 
    height: 200px;
}
.imanual-app {
   visibility: hidden; 
   
}
.model-viewer{
    overflow: hidden; 
}
.annotationButton-Back {
    left: 8px;
    position: absolute;
    bottom: 15px;
}
/* 30-nov-2021 */
#state-in{
    padding-left: 0;
    padding-right: 0;
}
#state-out{
    padding-left: 0 !important;
}
#state-out button, #state-in button {
    padding: 10px 8px;
    background-color: #f3f3f3;
    font: normal normal bold 14px/16px Arial;
    letter-spacing: 0px;
    color: #3B3B3B;
    border: transparent;
    margin-right: 10px;
}
@media (max-width: 1199.98px){
    #device-panel{
        left: 0;}
} 
@media only screen and (max-width: 767px){
#back-animation {
    left: 50px !important;
    bottom: 7px;
}
#state-out button, #state-in button {
    font: normal normal bold 12px/16px Arial;
    margin-right: 5px;
}
}



#back-animation,#replay,#reset-zoom { 
    position: unset;
    bottom: unset;
    left: unset;
    width: auto; 
} 
 
#prerequisites {
    position: unset;
    bottom: unset;
    left: unset;
    font-size: 13px;
}
.imanual-app {
    position: relative !important;
}

.device-action {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.device-config {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

ul#pre-list .pre-sec{
    background: #F7F7F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F2F2F2;
    opacity: 0.9;
    color: #3B3B3B;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    width: 100%;padding:0;
} 
div#tooltip{
	background: #7A2D89 0% 0% no-repeat!important;
    box-shadow: 0px 3px 6px #0000006f !important;
    opacity: 1;
    border: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.manual-toggle{
	bottom: unset;
    position: unset;
    right: unset;
    padding: 5px 7px;
    color: #fff;
    background: #328865 0% 0% no-repeat padding-box;
    font-size: 16px;
    line-height: 16px;
    border: 0;
}
.manual-close {
    bottom: unset;
    position: unset;
    right: unset;
    font-size: 10px;
    padding: 5px 7px;
    margin: 0px 5px;
    background: #491C6D 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border: 0;
    color: #fff;
    font-weight: 400;
}
/* #device-panel{
	left: 28px;
    top: 11%;
	transition: opacity 0.25s linear;
    border-radius: 3px;
    font-size: 13px;background: transparent !important;
    border: 0 !important;
  
} */
.manual-toggle {
    bottom: unset;
    position: unset;
    right: unset;
    padding: 5px 7px;
    color: #fff;
    background: #328865 0% 0% no-repeat padding-box;
    font-size: 24px;
    border: 0;
    padding: 0;
    margin-top: 0px !important;
    height: 35px;
    width: 35px;
}
.manual-close {
    bottom: unset;
    position: unset;
    right: unset;
    font-size: 12px;
    padding: 0;
    margin: 0px 5px 0px 0px;
    background: #491C6D 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border: 0;
    color: #fff;
    font-weight: 200;
    width: 35px;
    height: 35px;
}
button.component-menual {
    background: #F7F7F7 0% 0% no-repeat padding-box !important;
    opacity: 0.9;
    color: #000;
    text-align: left;
    font: normal normal bold 14px/16px Arial;
    letter-spacing: 0px;
    color: #3B3B3B !important;
    padding: 5px 15px!important;
    border: 0;
    margin-bottom: 3px;
}
ul#manual-list {
    padding-left: 0;
    margin-top: 5px;  
}

button:focus{
    outline: none !important;
}

.btn-action {
    display: flex;
    align-items: center;
}

.lighter-cross {
    -webkit-text-stroke: 2.5px #491C6D;
}


/* .btn-p{
background: #58287E;
} */
.btn-cross button {
    width: 100%;
    height: 100%;
    display: block;
    border: none;border-radius: 5px;
} 
div#video-cali .d-flex,div#video-test .d-flex {
    max-width: 100%;
    justify-content: space-between;
}
 

.col-btn.btn-cross:empty {
    display: none;
}

div#video-cali .d-flex .col-btn,div#video-test .d-flex .col-btn {
    flex: 1;
    max-width: 81px;
}

 
div#video-test .col-btn.btn-cross >button,div#video-cali .col-btn.btn-cross >button {
    background: #fff;
}
/* 12-05-2022 */
.button-container{
    align-items: center;
} 

div.screen-first {
    gap: 10px;
    display: flex;
}

.cross-close .cross{
    background: url(/assets/img/cross-icon.png) no-repeat;
    background-size: contain;
    display: block;
    width: 20px;
    height: 20px; 
    cursor: pointer;
}
.cross-close{
    background: #f1f1f1;
    width: 40px;
    height: 40px; border-radius: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1199.98px){
    div#video-cali .d-flex .col-btn button{ 
        max-width: 60px; 
        margin-left: auto;
    }

    div#video-test .d-flex .col-btn button{ 
        max-width: 60px; 
        margin-left: auto;
    }
    div#video-cali .d-flex .col-btn button.btn-cstm.btn-1.action-text{
        margin-left: 0;margin-right: auto;
    } 
    div#video-test .d-flex .col-btn button.btn-cstm.btn-1.action-text{
        margin-left: 0;margin-right: auto;
    }  
}
